  <div class="noti-noti">
  <h1 class="titulo2 text-light text-justify pl-5">Notifications</h1>

  {{#each filterMatch}}
<ul class="list-group text-justify ">
  <button class="btn" type="button" data-toggle="collapse" data-target="#{{userLikes.user.username}}" aria-expanded="false" aria-controls="collapseExample">
    <div class="list-group-item mt-2 textNoti matchcolor text-light">
     
        <div class="d-flex justify-content-around align-items-center">
          <div><img class="imgProf"src="{{userLikes.user.imgPath}}" alt=""></div>
          <div><h1 class="titleMatch">{{userLikes.user.username}} is ready to Swap with you!</h1></div>
        </div>

  </button>
<div class="collapse " id="{{userLikes.user.username}}">
  <div class="d-flex justify-content-around align-items-center textNoti">
  <div class="card card-body  notibodytext text-dark d-flex justify-content-around align-items-center notiBody">
   <div class="list-group-item mt-2 textNoti notibodytext text-dark"></div>
     
        <div class="textonoticolapso">
        <p>{{userLikes.user.username}} wants to swap his {{iLike.title}} for your {{userLikes.product.title}}</p>
     </div>
      <br>
      <div class="d-flex justify-content-around align-items-center mb-5">
        <div><img class="img-peq mr-5"src="{{iLike.imgPath}}" alt=""></div>
         <div><img class="imgProf2"src="/images/exchange-alt-solid.svg" alt=""></div>
        <div><img class="img-peq ml-5"src="{{userLikes.product.imgPath}}" alt=""></div>
      </div>

      </div>
      </div>
</div>
</div>
</ul>

{{/each}}

 
   

{{#each fullLikeList}}
{{#unless viewed}}


  <ul class="list-group text-justify ">
  <button class="btn" type="button" data-toggle="collapse" data-target="#{{user.username}}" aria-expanded="false" aria-controls="collapseExample">
    <div class="list-group-item mt-2 textNoti noticolor text-light">
     
        <div class="d-flex justify-content-around align-items-center">
          <div><img class="imgProf"src=" {{user.imgPath}}" alt="">
          </div>
          <div>
          <h1 class="titleMatch"><b>{{user.username}}</b> liked one of your creations.</h1>
       
        </div>
        </div>
  </button>
<div class="collapse " id="{{user.username}}">
  <div class="d-flex justify-content-around align-items-center textNoti">
  <div class="card card-body notibodytext text-dark d-flex justify-content-around align-items-center notiBody">
   <div class="list-group-item mt-2 textNoti notibodytext text-dark"></div>
     
        <div class="textonoticolapso">
       <div><p><b>{{user.username}}</b> likes your {{product.title}} from the category <i>{{product.category}}</i></p>
     </div>
      <div class="text-center mt-3">
        <a class="btn m-2 btnRed" href="/priv/notifications/delacc-noti/{{user._id}}/{{product._id}}">Hide</a>
      </div>
        </div>
      </div>
</div>
</div>
</ul>

 
 {{/unless}}
  {{/each}}
 

</div>





