
<form class="wish-creation-btn text-center">
<div class=" text-center d-flex justify-content-center align-items-center">
<div class="botones-priv ">
  <button class="btn-negro-hover privBtn btn btn-light text-light m-2 mr-4" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
    Creations
  </button>
  <button class=" btn-negro-hover privBtn btn btn-light text-light m-2" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
   Wishes
  </button>
</div>
<div class=" profileSettings  text-center d-flex justify-content-center align-items-center btnmarginleft">
<img class="imgProf " src="{{myUserHave.imgPath}}" alt="">
<p class="text-light textProfile">Hi <b>{{myUserHave.username}}</b>!</p>
</div>
</div>
</form>


<div class="" id="collapseExample">
<h1 class="title3 text-center">Wishes</h1>

  <div class="containerd text-center">
{{#each myUserWant.wantList}}
    <div class="card" style="width: 18rem;">
  <a href="/priv/select/{{id}}"><img  src={{imgPath}} class="card-img-top" alt="..."></a>
  <div class="card-body">
     <a href="/priv/select/{{id}}"><h5 class="card-title text-light"><i>{{title}}</i></h5></a>
    <p class="card-text"><i>{{this.category}}</i></p>
    <a class="" href="/priv/delete-want/{{this._id}}"><img class="bin" src="/images/trash-alt-solid.png" srcset=""></a>
  </div>
</div>
{{/each}}
{{#unless myUserWant.wantList}}
    <p class="text-light">¿What do you want?</p>
{{/unless}}
</div>
</div>
<div class="collapse creations" id="collapseExample2">
<h1 class="title3 text-center">Creations</h1>

<form class="d-flex justify-content-center align-items-center text-center mb-3" action="/priv/create-have">
<button class="text-light"><p class="text-light">Add some</p><img class="bin" src="/images/plus-solid-white.png" srcset=""></button>
</form>

  <div class="containerd text-center">
{{#each myUserHave.haveList}}
    <div class="card" style="width: 18rem;">
 <a href="/priv/select/{{id}}"><img  src={{imgPath}} class="card-img-top" alt="..."></a>
  <div class="card-body">
   <a href="/priv/select/{{id}}"><h5 class="card-title text-light"><i>{{title}}</i></h5></a>
    <p class="card-text"><i>{{this.category}}</i></p>
   
    <a href="/priv/delete-have/{{this._id}}" class="text-light"><img class="bin" src="/images/trash-alt-solid.png" srcset=""></a>
  </div>
</div>
{{/each}}
{{#unless myUserHave.haveList}}
    <p class="text-light">¿Something to Upload?</p>
{{/unless}}
</div>
<br>

</div>