
<p class="text-right pr-5 text-light"> Buenas <b>{{myUserHave.username}}</b>!</p>
<h1 class="title2 text-center">Wishes</h1>
<p class="text-center">
  
  <button class="btn btn-primary text-center" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
   See Wishes
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="containerd text-center">
{{#each myUserWant.wantList}}
    <div class="card" style="width: 18rem;">
  <img src= {{this.imgPath}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text"><i>{{this.category}}</i></p>
    <a href="/priv/delete-want/{{this._id}}" class="btn btn-light text-light">Delete</a>
  </div>
</div>
{{/each}}
{{#unless myUserWant.wantList}}
    <p class="text-light">¿What do you want?</p>
{{/unless}}
</div>
<br>
<form class="d-flex justify-content-center align-items-center text-center" action="/priv/discover">
<button class="btn btn-light text-light">Add</button>
</form>
</div>
<h1 class="title2 text-center">Creations</h1>
<p class="text-center">
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
    See Creations
  </button>
</p>
<div class="collapse" id="collapseExample2">
  <div class="containerd text-center">
{{#each myUserHave.haveList}}
    <div class="card" style="width: 18rem;">
  <img src= {{this.imgPath}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text"><i>{{this.category}}</i></p>
    <a href="/priv/delete-have/{{this._id}}" class="btn btn-light text-light">Delete</a>
  </div>
</div>
{{/each}}
{{#unless myUserHave.haveList}}
    <p class="text-light">¿Something to Upload?</p>
{{/unless}}
</div>
<br>
<form class="d-flex justify-content-center align-items-center text-center" action="/priv/create-have">
<button class="btn btn-light text-light">Add</button>
</form>
</div>