<h1 class="text-center"> Hi {{username}}, here is your Have list:</h1>
<div class="container">
{{#each haveList}}
    <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{category}}</p>
    <p class="card-text">{{description}}</p>
    <a href="/priv/delete-have/{{_id}}" class="btn btn-primary">Delete</a>
  </div>
</div>
{{/each}}
{{#unless haveList}}
    <p>No tienes nada que subir?</p>
{{/unless}}
</div>
<br>
<form action="/priv/create-have">
<button class="btn btn-primary">Add</button>
</form>
<br>
<form action="/priv/logout" method="post">
<button class="btn btn-primary">log-out</button>
</form>