
<div class="containero text-center">
  <div >
    
      <img src={{detailProduct.imgPath}} class="detailImg" alt="...">
      <div class="orden">
        <h5 class="text-light orden2">{{detailProduct.title}}</h5>
        <p class="text-light categoryText"><i>{{detailProduct.category}}</i></p>
        <p class="text-light descripText">{{detailProduct.description}}</p>
         <a class="btn btn-light text-light orden3" href="/priv/want/{{detailProduct.id}}">Want!</a>
      </div>
    </div>
    </div>
  
 

